In [1]:
#python input and output exercise

In [2]:
#accept numbers from a user

name = input("enter the number: ")

enter the number: Rohit

In [3]:
#display three string "Name","is","james",as "Name**is**james"

print("name","is","james",sep = "**")

name**is**james

In [5]:
#convert decimal number to octal number using print() output formatting the octal number of decimal number 8 is 10.

number=int(input("enter the number:"))
print(oct(number)[-2:])

enter the number:12
14

In [8]:
#display float number with 2 decimal places using print()

number = 84.43

y = float(round(num,2))

print(y)

NameError: name 'num' is not defined

In [9]:
#print all factorial of a given number provided by the user.

n = int(input("enter the number: "))

for i in range(1,n+1):
    if n%i == 0:
        print(i,end=" ")

enter the number: 45
1 3 5 9 15 45

In [14]:
#accept a list of 5 float numbers as animped from the users.

l1 = []

while len(l1)<5:
    n = float(input("enter the number: "))
    l1.append(n)
print(l1)

enter the number: 54.7
enter the number: 75.87
enter the number: 63.87
enter the number: 95.67
enter the number: 53.89
[54.7, 75.87, 63.87, 95.67, 53.89]

In [1]:
#accept any three string from one input() call.

inp = input("enter the three name with keeping space in between: ")

sep = inp.split()

name1 = sep[0]
name2 = sep[1]
name3 = sep[2]

print(name1)
print(name2)
print(name3)

enter the three name with keeping space in between: Rohit mohit ram
Rohit
mohit
ram

In [2]:
#format variables using a string.format() method.

totalmoney = 100
quantity = 2
price = 50

print("i have {} rupees so i can by {} pen for {} rupees".format(totalmoney,quantity,price))

i have 100 rupees so i can by 2 pen for 50 rupees

In [5]:
#write a program to find the simple interest when thwe value of principle,rate of interest is time periods is given.

P = float(input("enter the principle : "))
R = float(input("enter the rate : "))
T = int(input("enter the time periods : "))

simple_interest = (P*R*T)/100

print(simple_interest)

total_due = P + simple_interest

print("total due amount will need to pay will be ",total_due)

enter the principle100
enter the rate2
enter the time periods2
4.0
total due amount will need to pay will be  104.0

In [5]:
#write a program to find the volume of the cylinder also find the cost when the cost of 1 liter milk is 40Rs.

rad = float(input("enter the radius of cylinder in cm : "))
ht = float(input("enter the height of cylinder in cm : "))

vol = 3.142 * (rad**2)*ht
litr = vol/1000
cost = litr*40

print("volume of cylinder will be ",vol)
print("how much milk we can carry in this cylinder ",litr,litr)
print("this cost of that milk be ",cost)

enter the radius of cylinder in cm : 56
enter the height of cylinder in cm : 5
volume of cylinder will be  49266.56
how much milk we can carry in this cylinder  49.26656 49.26656
this cost of that milk be  1970.6624